
@media(min-width:0px) and (max-width:319px) {

	#main{
		padding: 15px 0px;
	}
	.main-text{
		padding-top: 20px;
		padding-bottom: 150px;
	}
	h1{
		font-size: 45px;
		text-align: center;
	}
	ul.menu{
		margin-top: 0;
	}
	ul.menu li a{
		font-size: 20px;
		padding: 2px 0;
	}
	.menu-button{
		top: 15px!important;
		left: 15px;
		width: 60px;
		height: 80px;
		.icon-bar{
			height: 3px;
			width: 30px;
		}
	}
	.menu-active{
		top: 19px!important;
		left: 95px!important;
		li{
			a{
				font-size: 14px;
				padding: 0;
			}
		}
	}
	.title-block {
		padding-top: 20px;
		h2{
			font-size: 28px;
			margin-bottom: 15px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
			text-align: justify;
		}
	}
	#about{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 20px;
		.title-block{
			p{
				max-width: 100%;
			}
		}
	}
	.our-statistic{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.about-item{
		padding: 0 2%;
		margin-bottom: 50px;
		width: 250px;
		h4{
			font-size: 22px;
			margin-top: 5px;
		}
		img{
			&:first-of-type{
				//left: -5px;
			}
			&:last-of-type{
				//right: -5px;
			}
		}
	}
	#galary-1 .modal-dialog{
		width: 75%;
		margin: 50px auto 0;
	}
	#galary-1 .owl-nav .owl-prev{
		left: -20%;
		text-align: center;
		img{
			width: 50%;
		}
	}
	#galary-1 .owl-nav .owl-next{
		right: -20%;
		text-align: center;
		img{
			width: 50%;
		}
	}
	.process-block{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#projects{
		padding-bottom: 40px;
	}
	.project-block{
		flex-direction: column;
		margin-bottom: 20px;
	}
	.project-img{
		width: 100%;
	}
	.project-title{
		width: 100%;
	}
	.project-block:nth-of-type(even) .project-title{
		padding-left: 15px;
	}
	.project-block:nth-of-type(odd) .project-title{
		padding-left: 15px;
		order: 2;
		h3{
			text-align: left;
			&:before{
				left: 0px;
				right: auto;
			}
		}
	}
	.project-block:nth-of-type(odd) .project-img button{
		right: 0;
		left: auto;
	}
	.project-title h3{
		font-size: 23px;
		padding-bottom: 10px;
	}
	.project-img button{
		width: 80px;
		height: 80px;
		font-size: 16px;
	}
	#process{
		padding-bottom: 40px;
	}
	.process-item p{
		font-size: 21px;
	}
	.process-item-img{
		display: none;
	}
	#customers{
		padding-bottom: 90px;
	}
	.customer-img{
		width: 100%;
		float: none;
	}
	.customer-comment{
		width: 100%;
		float: none;
		margin-top: 30px;
		padding-left: 15px;
		h3{
			margin-bottom: 20px;
			margin-top: 0;
			padding-bottom: 10px;
			font-size: 25px;
		}
		p{
			width: 95%;
			line-height: 22px;
			font-size: 14px;
			text-align: justify;
		}
	}
	.customers-slider .owl-prev{
		right: auto;
		left: 34%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.customers-slider .owl-next{
		right: 34%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.clients-block{
		width: 100%;
		margin-top: 40px;
		justify-content: space-around;
		.clients-item{
			margin-bottom: 40px;
			width: 50%;
			img{
				max-width: 100%;
			}
		}
	}
	#contact{
		padding-bottom: 70px;
	}
	.contact-block{
		width: 100%;
		margin-top: 50px;
	}
	.contact-block>.row{
		display: block;
	}
	.contact-form{
		margin-top: 20px;
	}
	.contact-form>.row{
		display: block;
	}
	.contact-form input{
		margin-bottom: 25px;
	}
	.contact-form .textarea-block{
		height: 250px;
	}
	.contact-info a{
		margin-bottom: 50px;
		p{
			font-size: 15px;
			&:first-of-type{
				margin-bottom: 5px;
			}
		}
		&:first-of-type{
			p{
				margin-top: 6px;
			}
		}
	}
	footer{
		padding: 15px 0px 5px;
		text-align: center;
	}
	footer .row{
		display: block;
	}
	footer ul.social {
		text-align: center;
		margin-top: 5px;
		li{
			margin: 0px 10px;
		}
	}	

}

@media(min-width:320px) and (max-width:479px) {
	
	#main{
		padding: 15px 0px;
	}
	.main-text{
		padding-top: 20px;
		padding-bottom: 150px;
	}
	h1{
		font-size: 45px;
		text-align: center;
	}
	ul.menu{
		margin-top: 0;
	}
	ul.menu li a{
		font-size: 20px;
		padding: 2px 0;
	}
	.menu-button{
		top: 15px!important;
		left: 15px;
		width: 60px;
		height: 80px;
		.icon-bar{
			height: 3px;
			width: 30px;
		}
	}
	.menu-active{
		top: 19px!important;
		left: 95px!important;
		li{
			a{
				font-size: 14px;
				padding: 0;
			}
		}
	}
	.title-block {
		padding-top: 20px;
		h2{
			font-size: 28px;
			margin-bottom: 15px;
		}
		p{
			font-size: 14px;
			line-height: 20px;
			text-align: justify;
		}
	}
	#about{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 20px;
		.title-block{
			p{
				max-width: 100%;
			}
		}
	}
	.our-statistic{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.about-item{
		padding: 0 2%;
		margin-bottom: 50px;
		width: 250px;
		h4{
			font-size: 22px;
			margin-top: 5px;
		}
		img{
			&:first-of-type{
				//left: -5px;
			}
			&:last-of-type{
				//right: -5px;
			}
		}
	}
	#galary-1 .modal-dialog{
		width: 75%;
		margin: 50px auto 0;
	}
	#galary-1 .owl-nav .owl-prev{
		left: -20%;
		text-align: center;
		img{
			width: 50%;
		}
	}
	#galary-1 .owl-nav .owl-next{
		right: -20%;
		text-align: center;
		img{
			width: 50%;
		}
	}
	.process-block{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#projects{
		padding-bottom: 40px;
	}
	.project-block{
		flex-direction: column;
		margin-bottom: 20px;
	}
	.project-img{
		width: 100%;
	}
	.project-title{
		width: 100%;
	}
	.project-block:nth-of-type(even) .project-title{
		padding-left: 15px;
	}
	.project-block:nth-of-type(odd) .project-title{
		padding-left: 15px;
		order: 2;
		h3{
			text-align: left;
			&:before{
				left: 0px;
				right: auto;
			}
		}
	}
	.project-block:nth-of-type(odd) .project-img button{
		right: 0;
		left: auto;
	}
	.project-title h3{
		font-size: 23px;
		padding-bottom: 10px;
	}
	.project-img button{
		width: 80px;
		height: 80px;
		font-size: 16px;
	}
	#process{
		padding-bottom: 40px;
	}
	.process-item p{
		font-size: 21px;
	}
	.process-item-img{
		display: none;
	}
	#customers{
		padding-bottom: 90px;
	}
	.customer-img{
		width: 100%;
		float: none;
	}
	.customer-comment{
		width: 100%;
		float: none;
		margin-top: 30px;
		padding-left: 15px;
		h3{
			margin-bottom: 20px;
			margin-top: 0;
			padding-bottom: 10px;
			font-size: 25px;
		}
		p{
			width: 95%;
			line-height: 22px;
			font-size: 14px;
			text-align: justify;
		}
	}
	.customers-slider .owl-prev{
		right: auto;
		left: 34%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.customers-slider .owl-next{
		right: 34%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.clients-block{
		width: 100%;
		margin-top: 40px;
		justify-content: space-around;
		.clients-item{
			margin-bottom: 40px;
			width: 50%;
			img{
				max-width: 100%;
			}
		}
	}
	#contact{
		padding-bottom: 70px;
	}
	.contact-block{
		width: 100%;
		margin-top: 50px;
	}
	.contact-block>.row{
		display: block;
	}
	.contact-form{
		margin-top: 20px;
	}
	.contact-form>.row{
		display: block;
	}
	.contact-form input{
		margin-bottom: 25px;
	}
	.contact-form .textarea-block{
		height: 250px;
	}
	.contact-info a{
		margin-bottom: 50px;
		p{
			font-size: 15px;
			&:first-of-type{
				margin-bottom: 5px;
			}
		}
		&:first-of-type{
			p{
				margin-top: 6px;
			}
		}
	}
	footer{
		padding: 15px 0px 5px;
		text-align: center;
	}
	footer .row{
		display: block;
	}
	footer ul.social {
		text-align: center;
		margin-top: 5px;
		li{
			margin: 0px 10px;
		}
	}

}

@media(min-width:480px) and (max-width:767px) {
	
	#main{
		padding: 30px 15px;
	}
	.main-text{
		padding-top: 50px;
		padding-bottom: 150px;
	}
	h1{
		font-size: 60px;
		text-align: center;
	}
	ul.menu{
		margin-top: 0;
	}
	ul.menu li a{
		font-size: 25px;
		padding: 2px 0;
	}
	.menu-button{
		top: 30px!important;
		left: 30px;
	}
	.menu-active{
		top: 40px!important;
		left: 140px!important;
	}
	.title-block {
		padding-top: 60px;
		h2{
			font-size: 35px;
			margin-bottom: 25px;
		}
		p{
			font-size: 14px;
			line-height: 23px;
		}
	}
	#about{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
		.title-block{
			p{
				max-width: 100%;
			}
		}
	}
	.our-statistic{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.about-item{
		padding: 0 2%;
		margin-bottom: 70px;
		width: 250px;
		h4{
			font-size: 22px;
			margin-top: 5px;
		}
		img{
			&:first-of-type{
				//left: -5px;
			}
			&:last-of-type{
				//right: -5px;
			}
		}
	}
	#galary-1 .modal-dialog{
		width: 75%;
		margin: 50px auto 0;
	}
	#galary-1 .owl-nav .owl-prev{
		left: -15%;
	}
	#galary-1 .owl-nav .owl-next{
		right: -15%;
	}
	.process-block{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#projects{
		padding-bottom: 40px;
	}
	.project-block:nth-of-type(even) .project-title{
		padding-left: 50px;
	}
	.project-block:nth-of-type(odd) .project-title{
		padding-right: 50px;
	}
	.project-title h3{
		font-size: 23px;
		padding-bottom: 10px;
	}
	.project-img button{
		width: 65px;
		height: 65px;
		font-size: 14px;
	}
	#process{
		padding-bottom: 40px;
	}
	.process-item p{
		font-size: 21px;
	}
	.process-item-img{
		display: none;
	}
	#customers{
		padding-bottom: 90px;
	}
	.customer-img{
		width: 100%;
		float: none;
	}
	.customer-comment{
		width: 100%;
		float: none;
		margin-top: 30px;
		padding-left: 30px;
		h3{
			margin-bottom: 20px;
			margin-top: 0;
			padding-bottom: 10px;
			font-size: 25px;
		}
		p{
			width: 95%;
			line-height: 22px;
			font-size: 14px;
		}
	}
	.customers-slider .owl-prev{
		right: auto;
		left: 40%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.customers-slider .owl-next{
		right: 40%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.clients-block{
		width: 100%;
		margin-top: 40px;
		.clients-item{
			margin-bottom: 40px;
			width: 33.3%;
		}
	}
	#contact{
		padding-bottom: 70px;
	}
	.contact-block{
		width: 95%;
		margin-top: 50px;
	}
	.contact-block>.row{
		display: block;
	}
	.contact-form{
		margin-top: 20px;
	}
	.contact-form>.row{
		display: block;
	}
	.contact-form input{
		margin-bottom: 25px;
	}
	.contact-form .textarea-block{
		height: 250px;
	}
	.contact-info a{
		margin-bottom: 50px;
	}
	footer{
		padding: 15px 30px 5px;
		text-align: center;
	}
	footer .row{
		display: block;
	}
	footer ul.social {
		text-align: center;
		margin-top: 5px;
		li{
			margin-left: 20px;
		}
	}

}

@media(min-width:768px) and (max-width:991px) {
	
	#main{
		padding: 30px 15px;
	}
	.main-text{
		padding-top: 100px;
		padding-bottom: 200px;
	}
	h1{
		font-size: 70px;
	}
	ul.menu{
		margin-top: 0;
	}
	.menu-button{
		top: 30px!important;
		left: 30px;
	}
	.menu-active{
		top: 40px!important;
		left: 140px!important;
	}
	.title-block {
		padding-top: 60px;
		h2{
			font-size: 50px;
			margin-bottom: 40px;
		}
		p{
			font-size: 16px;
			line-height: 25px;
		}
	}
	#about{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
		.title-block{
			p{
				max-width: 100%;
			}
		}
	}
	.our-statistic{
		max-width: 100%;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.about-item{
		padding: 0 2%;
		margin-bottom: 70px;
		width: 230px;
		h4{
			font-size: 22px;
			margin-top: 5px;
		}
		img{
			&:first-of-type{
				//left: -5px;
			}
			&:last-of-type{
				//right: -5px;
			}
		}
	}
	#galary-1 .modal-dialog{
		width: 600px;
	}
	#galary-1 .owl-nav .owl-prev{
		left: -10%;
	}
	#galary-1 .owl-nav .owl-next{
		right: -10%;
	}
	.process-block{
		max-width: 100%;
		margin-top: 50px;
	}
	.project-block:nth-of-type(even) .project-title{
		padding-left: 80px;
	}
	.project-block:nth-of-type(odd) .project-title{
		padding-right: 80px;
	}
	.project-title h3{
		font-size: 30px;
	}
	.project-img button{
		width: 100px;
		height: 100px;
		font-size: 18px;
	}
	.process-item p{
		font-size: 21px;
	}
	#customers{
		padding-bottom: 90px;
	}
	.customer-comment{
		margin-top: 0;
		padding-left: 80px;
		h3{
			margin-bottom: 20px;
			margin-top: 0;
			padding-bottom: 10px;
			font-size: 30px;
		}
		p{
			width: 95%;
			line-height: 25px;
			font-size: 14px;
		}
	}
	.customers-slider .owl-prev{
		right: auto;
		left: 43%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.customers-slider .owl-next{
		right: 43%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.clients-block{
		width: 100%;
		.clients-item{
			margin-bottom: 50px;
		}
	}
	#contact{
		padding-bottom: 70px;
	}
	.contact-block{
		width: 95%;
		margin-top: 50px;
	}
	.contact-form>.row{
		display: block;
	}
	.contact-form input{
		margin-bottom: 25px;
	}
	.contact-form .textarea-block{
		height: 200px;
	}
	.contact-info a{
		margin-bottom: 105px;
	}
	footer{
		padding-left: 30px;
		padding-right: 30px;
	}
	footer ul.social li{
		margin-left: 20px;
	}
	
}

@media(min-width:992px) and (max-width:1199px) {
	
	#main{
		padding-top: 50px;
	}
	.main-text{
		padding-top: 100px;
		padding-bottom: 200px;
	}
	h1{
		font-size: 95px;
	}
	ul.menu{
		margin-top: 0;
	}
	.title-block {
		h2{
			font-size: 70px;
			margin-bottom: 60px;
		}
	}
	.our-statistic{
		max-width: 100%;
	}
	.about-item{
		padding: 0 2%;
		h4{
			font-size: 20px;
			margin-top: 5px;
		}
		img{
			&:first-of-type{
				//left: -5px;
			}
			&:last-of-type{
				//right: -5px;
			}
		}
	}
	#galary-1 .modal-dialog{
		width: 750px;
	}
	#galary-1 .owl-nav .owl-prev{
		left: -10%;
	}
	#galary-1 .owl-nav .owl-next{
		right: -10%;
	}
	.process-block{
		max-width: 100%;
	}
	.project-block:nth-of-type(even) .project-title{
		padding-left: 120px;
	}
	.project-block:nth-of-type(odd) .project-title{
		padding-right: 120px;
	}
	.project-title h3{
		font-size: 40px;
	}
	.project-img button{
		width: 150px;
		height: 150px;
		font-size: 22px;
	}
	.process-item p{
		font-size: 21px;
	}
	#customers{
		padding-bottom: 90px;
	}
	.customer-comment{
		margin-top: 0;
		padding-left: 120px;
		h3{
			margin-bottom: 30px;
			margin-top: 0;
			padding-bottom: 20px;
			font-size: 40px;
		}
		p{
			width: 95%;
			line-height: 25px;
		}
	}
	.customers-slider .owl-prev{
		right: auto;
		left: 43%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.customers-slider .owl-next{
		right: 43%;
		top: auto;
		bottom: -55px;
		width: 50px;
		height: 50px;
	}
	.clients-block{
		width: 95%;
		.clients-item{
			margin-bottom: 80px;
		}
	}
	.contact-block{
		width: 95%;
	}
	footer{
		padding-left: 50px;
		padding-right: 50px;
	}
	footer ul.social li{
		margin-left: 40px;
	}

}

@media(min-width:1200px) and (max-width:1499px) {
	
	#main{
		//height: 100vh;
	}
	.main-text{
		padding-top: 100px;
		padding-bottom: 150px;
	}
	h1{
		font-size: 110px;
	}
	.our-statistic{
		max-width: 100%;
	}
	.about-item{
		padding: 0 2%;
		h4{
			font-size: 25px;
		}
		img{
			&:first-of-type{
				left: -5px;
			}
			&:last-of-type{
				right: -5px;
			}
		}
	}
	#galary-1 .modal-dialog{
		width: 950px;
	}
	#galary-1 .owl-nav .owl-prev{
		left: -10%;
	}
	#galary-1 .owl-nav .owl-next{
		right: -10%;
	}
	.process-block{
		max-width: 100%;
	}
	.project-block:nth-of-type(even) .project-title{
		padding-left: 150px;
	}
	.project-block:nth-of-type(odd) .project-title{
		padding-right: 150px;
	}
	.process-item p{
		font-size: 25px;
	}
	.customer-comment{
		margin-top: 7%;
		padding-left: 150px;
		h3{
			margin-bottom: 30px;
			padding-bottom: 20px;
		}
		p{
			width: 95%;
			line-height: 25px;
		}
	}
	.customers-slider .owl-prev{
		right: 32%;
		top: 20px;
	}
	.customers-slider .owl-next{
		right: 26%;
		top: 20px;
	}
	.contact-block{
		width: 90%;
	}
	footer{
		padding-left: 60px;
		padding-right: 60px;
	}
	footer ul.social li{
		margin-left: 40px;
	}

}

@media(min-width:1500px) and (max-width:1919px) {
	
	#galary-1 .owl-nav .owl-prev{
		left: -10%;
	}
	#galary-1 .owl-nav .owl-next{
		right: -10%;
	}
	.process-block{
		max-width: 90%;
	}
	.customer-comment{
		margin-top: 10%;
	}
	.customers-slider .owl-prev{
		right: 34%;
		top: 80px;
	}
	.customers-slider .owl-next{
		right: 30%;
		top: 80px;
	}
	.contact-block{
		width: 70%;
	}

}
